<%= form_for(translation, :url => otwtranslation_post_translation_path,
                          :remote => true) do |f| %>
  <dl>
    <dt><%= f.label(:label, ts("Translation:"))%></dt>
    <dd><%= f.text_area :label, :rows => 5 %></dd>

  </dl>
  <ul class="navigation">
    <li><%= f.submit "Add translation" %></li>
    <% if Otwtranslation::ContextRule.label_rule_combinations_for(
           translation.phrase.label, otwtranslation_language).length > 1 %>
      <li><%= f.submit "Create context-aware translations" %></li>
    <% end %>
  </ul>
<% end %>
