<div <%='class=approved' if translation.approved %> >

<p class="label"><%= translation.label %></p>

<dl class="stats">
  <dt class="votes">Votes:</dt>
  <dd class="votes"> TODO</dd>

  <dt class="approved">Approved:</dt>
  <dd class="approved"><%= translation.approved? ? "yes" : "no" %></dd>

  <dt class="updated_at">Updated at:</dt>
  <dd class="updated_at"><%= translation.updated_at %></dd>    
</dl> 

<ul class="navigation">
  <li>
    <% if translation.approved %>
    <%= form_for(translation, 
                 :url => otwtranslation_confirm_disapprove_translation_path(translation),
                 :html => {:method => :get},
                 :remote => true ) do |f| %>
      <%= f.submit 'Disapprove' %>
    <% end %>
    <% else %>
    <%= form_for(translation, 
                 :url => otwtranslation_approve_translation_path(translation), 
                 :html => { :method => :post },
                 :remote => true ) do |f| %>
      <%= f.submit 'Approve' %>
    <% end %>
    <% end %>    
  </li>
</ul>

</div>
