<div <%='class=approved' if translation.approved %> >

<p class="label"><%= translation.label %></p>

<dl class="stats">
  <dt class="votes">Votes:</dt>
  <dd class="votes"> TODO</dd>

  <dt class="approved">Approved:</dt>
  <dd class="approved"><%= translation.approved? ? "yes" : "no" %></dd>

  <dt class="updated_at">Comments:</dt>
  <dd class="updated_at">TODO</dd>    
</dl> 

<ul class="navigation">
  <% if translation.approved %>
    <li>
    <%= form_for(translation, 
                 :url => otwtranslation_confirm_disapprove_translation_path(translation),
                 :html => {:method => :get},
                 :remote => true ) do |f| %>
      <%= f.submit 'Disapprove' %>
    <% end %>
    </li>
  <% else %>
    <li>
    <%= form_for(translation, 
                 :url => otwtranslation_approve_translation_path(translation), 
                 :html => { :method => :post },
                 :remote => true ) do |f| %>
      <%= f.submit 'Approve' %>
    <% end %>
    </li>
    <li>
    <%= form_for(translation, 
                 :url => otwtranslation_confirm_destroy_translation_path(translation), 
                 :html => { :method => :get },
                 :remote => true ) do |f| %>
      <%= f.submit 'Delete' %>
    <% end %>
    </li>
  <% end %>    
</ul>

</div>
