<!-- BACK END: is this a heading: on a summary of the page contents, ought this show up?-->


<div class="wrapper">
  <dl class="translation meta group">
    <dt class="label"><%= ts("Label:") %></dt>
    <dd class="label"><%= translation.label %></dd>
    <dt class="approved"><%= ts("Approved:") %></dt>
    <dd class="approved"><%= translation.approved ? "Yes" : "No" %></dd>
    <dt class="last_edited">Last edited:</dt>
    <dd class="last_edited"><%= translation.updated_at.to_date %></dd>
    <dt class="last_editor">Last editor:</dt>
    <dd class="last_editor"><%= translation.last_editor.try(:login) %></dd>
    <dt class="votes">Votes:</dt>
    <dd class="votes"><%= translation.votes.votes_sum %></dd>
    <dt class="comments">Comments:</dt>
    <dd class="comments"><%= translation.count_visible_comments %></dd>
    <dt class="rules">Rules:</dt>
    <dd class="rules">
      <%= render("/otwtranslation/translations/rules", :rules => translation.rules) %>
    </dd>
      
  </dl>
</div>

