<div <%='class=approved' if translation.approved %> >

<p class="label"><%= translation.label %></p>

<%= render :partial => "/otwtranslation/translations/stats", 
           :locals => { :translation => translation } %>

<ul class="navigation">
  <li><%= link_to 'Show', otwtranslation_translation_path(translation) %></li>

  <% if translation.approved %>
    <li>
    <%= form_for(translation, 
                 :url => otwtranslation_confirm_disapprove_translation_path(translation),
                 :html => {:method => :get},
                 :remote => true ) do |f| %>
      <%= f.submit 'Disapprove' %>
    <% end %>
    </li>
  <% else %>
    <li>
    <%= form_for(translation, 
                 :url => otwtranslation_approve_translation_path(translation), 
                 :html => { :method => :post },
                 :remote => true ) do |f| %>
      <%= f.submit 'Approve' %>
    <% end %>
    </li>
  <% end %>    
</ul>

</div>
