<% if @translation.approved %>
  $("li#translation<%= @translation.id %> div:not(.approved)").addClass("approved")
  $("li#translation<%= @translation.id %> dd.approved").html("yes")
  $("li#translation<%= @translation.id %> ul.navigation").replaceWith("<%= escape_javascript(render :partial => "otwtranslation/translations/navigation", 
                 :locals => { :translation => @translation }) %>")
<% end %>

<% unless flash[:error].blank? %>
  $("#main").prepend("<div class=\"flash error\"><%= escape_javascript(flash.delete(:error)) %></div>")
<% end %>
