<% if @translation.approved %>
  $("li#translation<%= @translation.id %> div").replaceWith(
      "<%= escape_javascript(render("otwtranslation/translations/translation", 
                                    :translation => @translation)) %>")
<% end %>

$("span#otwtranslation_phrase_<%= @translation.phrase_key %>").replaceWith(
  '<%= escape_javascript(otwtranslation_decorated_translation(@translation.phrase_key)) %>')

$("span#otwtranslation_phrase_<%= @translation.phrase_key %>").rightClick(function(event) {
      otwtranslation_inline_translator(this)
  });

<% unless flash[:error].blank? %>
  $("#main").prepend("<div class=\"flash error\"><%= escape_javascript(flash.delete(:error)) %></div>")
<% end %>
