<h2><%= ts("Add Translation") %></h2>

<%= render :partial => "/otwtranslation/phrases/phrase", 
           :locals => { :phrase => @phrase } %>

<%= render :partial => "form", :locals => { :translation => @translation } %>


<h3 class="landmark">Translations for this phrase</h3>

<h3>Translations for this phrase:</h3>

<% if @existing_translations.empty? %>
  <p><%= ts("There are no translations for the selected language.") %></p>
<% elsif %>
  <%= render :partial => "otwtranslation/translations/translations_list", 
             :locals => { :translations => @existing_translations } %>
<% end %>
