<h2><%= ts("Show Translation") %></h2>

<ol id="otwtranslation_translations">
<li class="even">
<div <%='class=approved' if @translation.approved %> >
<p class="label"><%= @translation.label %></p>

<%= render :partial => "stats", :locals => { :translation => @translation } %>

<ul class="navigation">

  <% if @translation.approved %>
    <li>
    <%= form_for(@translation, 
                 :url => otwtranslation_confirm_disapprove_translation_path(@translation),
                 :html => {:method => :get},
                 :remote => true ) do |f| %>
      <%= f.submit 'Disapprove' %>
    <% end %>
    </li>
  <% else %>
    <li>
    <%= form_for(@translation, 
                 :url => otwtranslation_approve_translation_path(@translation), 
                 :html => { :method => :post },
                 :remote => true ) do |f| %>
      <%= f.submit 'Approve' %>
    <% end %>
    </li>
    <li>
    <%= form_for(@translation, 
                 :url => otwtranslation_confirm_destroy_translation_path(@translation), 
                 :html => { :method => :get },
                 :remote => true ) do |f| %>
      <%= f.submit 'Delete' %>
    <% end %>
    </li>
  <% end %>    
</ul>
</div>
</li>
</ol>


<h3 class="landmark">For phrase</h3>

<h3>For phrase</h3>

<%= render :partial => "/otwtranslation/phrases/phrase", 
           :locals => { :phrase => @phrase } %>


<h3 class="landmark">Comments</h3>

<h3>Comments</h3>

<p style="color: red;">Here be place for comments</p>
