<!--Descriptive page name and system messages, descriptions, and instructions.-->
<h2><%= ts("Language List") %></h2>
<p><%= "(Statistics will update every #{OtwtranslationConfig.STATS_CACHE_EXPIRY} minutes.)" %></p>
<!--end descriptions-->

<!--navigation, sorting and actions-->
<p class="translation navigation" id="add_language">
    <%= link_to(ts("Add language"), otwtranslation_new_language_path) %>
</p>
<!--/nav-->

<!--main content-->
<table id="otwtranslation_languages" summary="please summarise">
	<caption><!--please briefly label--></caption>
  <thead>
	<tr>
    <th><%= ts("Short") %></th>
    <th><%= ts("Name") %></th>
    <th><%= ts("Right to left?") %>
    <th><%= ts("Translation visible?") %>
    <th><%= ts("Translated") %>
    <th><%= ts("Approved") %>
  </tr>
</thead>
 <tbody>
	<% @languages.each do |language| %>
	<% cache("otwtranslation-language-index-#{language.id}",
	      :expires_in => OtwtranslationConfig.STATS_CACHE_EXPIRY.to_f.minutes) do %>
	<tr>
    <th class="short"><%= language.short %></th>
    <td class="name">
      <%= link_to(language.name, otwtranslation_language_path(language)) %>
    </td>
    <td class="direction">
      <%= language.right_to_left? ? "&#x2713;".html_safe : "" %>
    </td>
    <td class="visible">
      <%= language.translation_visible? ? "&#x2713;".html_safe : "" %>
    </td>
    <td class="translated">
      <%= number_to_percentage language.percentage_translated, :precision => 2 %>
    </td>
    <td class="approved">
      <%= number_to_percentage language.percentage_approved, :precision => 2 %>
    </td>
  </tr>

<% end %><!-- end of cache -->
</tbody>
<% end %>
</table>




