<div class="language">

  <!--Descriptive page name and system messages, descriptions, and instructions.-->
  <h2 class="heading"><%= ts("Show Language") %></h2>
  <!-- end descriptions-->

  <!--Subnavigation, sorting and actions.-->
  <!--end navigation-->

  <!--main content-->
  <div class="wrapper">
    <dl class="language meta group">
      
      <dt class="short"><%= ts("Short:") %></dt>
      <dd class="short"><%= @language.short %></dd>
      
      <dt class="language"><%= ts("Name:") %></dt>
      <dd class="language"><%= @language.name %></dd>
  
      <dt class="direction"><%= ts("Right to left?") %></dt>
      <dd class="direction">
	<%= @language.right_to_left? ? ts("yes") : ts("no") %>
      </dd>
      
      <dt class="visible"><%= ts("Translation visible?") %></dt>
      <dd class="visible">
	<%= @language.translation_visible? ? ts("yes") : ts("no") %>
      </dd>
      
      <dt class="translated"><%= ts("Translated:") %></dt>
      <dd class="translated">
	<%= number_to_percentage @language.percentage_translated, :precision => 2 %>
      </dd>
      
      <dt class="approved"><%= ts("Approved:") %></dt>
      <dd class="approved">
	<%= number_to_percentage @language.percentage_approved, :precision => 2 %>
      </dd>
    </dl>
  </div>
<!-- BACK END: if this is a single action form let's lose the list structure-->

<ul class="translation navigation" id="add_rule">
  <li>
    <%= button_to("Add rule", otwtranslation_new_rule_path(@language), 
                  :method => :get) %>
  </li>

</ul>


<div class="rules listbox group">
  <h3 class="heading"><%= ts("Rules for this language:") %></h3>

  <ol class="rules index group">
    <% @rules.each do |rule| %>
      <li class="rule blurb group">
	<div class="header module">
	  <h4 class="heading ruletype"><%= rule.display_type %> <%= rule.position %></h4>
	</div>

	<blockquote class="userstuff description" title="description">
	  <%= raw sanitize_field(rule, :description) %>
	</blockquote>

	<h5 class="heading">Conditions:</h5>
	<ol class="rule-conditions">
	  <% rule.conditions.each do |condition| %>
	    <li>
	      <%= condition[0] %> 
              <%= Otwtranslation::ParameterParser.stringify(condition[1]) %>
	    </li>
	  <% end %>
	</ol>
	
	<h5 class="heading">Actions:</h5>
	<ol class="rule-actions">
	  <% rule.actions.each do |action| %>
	    <li>
	      <%= action[0] %> 
              <%= Otwtranslation::ParameterParser.stringify(action[1]) %>
	    </li>
	    <% end %>
	</ol>
	
	<%= render("otwtranslation/rules/navigation", :rule => rule) %>
      </li>
    <% end %>
  </ol>
</div>


<!--end main-->

<!--navigation, sorting and actions-->

<%= will_paginate(@rules, :params => {:controller => otwtranslation_language_path(@language)}) %>

<!-- end nav-->
</div>
