<!--Descriptive page name and system messages, descriptions, and instructions.-->
<h2><%= ts("Show Language") %></h2>
<!-- end descriptions-->

<!--Subnavigation, sorting and actions.-->
<!--end navigation-->

<!--main content-->
<dl id="otwtranslation_language">

  <dt class="short"><%= ts("Short:") %></dt>
  <dd class="short"><%= @language.short %></dd>

  <dt class="language"><%= ts("Name:") %></dt>
  <dd class="language"><%= @language.name %></dd>

  <dt class="direction"><%= ts("Right to left?") %></dt>
  <dd class="direction">
    <%= @language.right_to_left? ? ts("yes") : ts("no") %>
  </dd>

  <dt class="visible"><%= ts("Translation visible?") %></dt>
  <dd class="visible">
    <%= @language.translation_visible? ? ts("yes") : ts("no") %>
  </dd>

  <dt class="translated"><%= ts("Translated:") %></dt>
  <dd class="translated">
    <%= number_to_percentage @language.percentage_translated, :precision => 2 %>
  </dd>

  <dt class="approved"><%= ts("Approved:") %></dt>
  <dd class="approved">
    <%= number_to_percentage @language.percentage_approved, :precision => 2 %>
  </dd>
</dl>


<h3><%= ts("Rules for this language:") %></h3>

<!-- BACK END: if this is a single action form let's lose the list structure-->

<ul class="translation navigation" id="add_rule">
  <li>
    <%= form_for(:otwtranslation_context_rule, 
                 :url => otwtranslation_new_rule_path(@language), 
                 :html => { :method => :get },
                 :remote => false ) do |f| %>
      <%= f.hidden_field("language_short", {:value=>@language.short}) %>
      <%= f.submit 'Add rule' %>
    <% end %>
  </li>
</ul>

<h3 class="landmark">Rules Table</h3>
<table id="otwtranslation_rules" summary="please summarise">
  <caption><!--please briefly label--></caption>
  <thead>
    <tr>
      <th><%= ts("Type") %></th>
      <th><%= ts("Position") %></th>
      <th><%= ts("Description") %></th>
      <th><%= ts("Conditions") %></th>
      <th><%= ts("Actions") %></th>
      <th><%= ts("Navigation") %></th>
    </tr>
  </thead>
  <tbody>
    <% @rules.each do |rule| %>
      <tr>
        <th class="type"><%= rule.display_type %></th>
        <td class="position"><%= rule.position %></td>
        <td class="description"><%= rule.description %></td>
        <td class="conditions">
	  <ol>
	  <% rule.conditions.each do |condition| %>
	    <li><%= condition[0] %> 
                <%= Otwtranslation::ParameterParser.stringify(condition[1]) %></li>
	  <% end %>
	  </ol>
	</td>

        <td class="actions">
	  <ol>
	  <% rule.actions.each do |action| %>
	    <li><%= action[0] %> 
                <%= Otwtranslation::ParameterParser.stringify(action[1]) %></li>
	  <% end %>
	  </ol>
	</td>

        <td class="actions">
	  <%= render :partial => "otwtranslation/rules/navigation",
                     :locals => { :rule => rule } %>
	</td>

      </tr>
    <% end %>
  </tbody>
</table>


<!--end main-->

<!--navigation, sorting and actions-->
<p class="navigation"><%= link_to ts('Back'), otwtranslation_languages_path %></p>
<!-- end nav-->
