<h1><%= ts("Phrases List") %></h1>

<table>
  <tr>
    <th><%= ts("Label") %></th>
    <th><%= ts("Description") %></th>
    <th><%= ts("Locale") %></th>
    <th><%= ts("Last Used") %></th>
    <th><%= ts("Expired?") %></th>
  </tr>

<% @phrases.each do |phrase| %>
  <tr>
    <td><%= link_to phrase.label, otwtranslation_phrase_path(:key => phrase.key) %></td>
    <td><%= phrase.description %></td>
    <td><%= phrase.locale %></td>
    <td><%= phrase.updated_at %></td>
    <td><%= ts(phrase.is_expired?.to_s) %></td>
  </tr>
<% end %>
</table>

