<h2><%= ts("Phrases List") %></h2>

<table id="otwtranslation_phrases">
  <tr>
    <th><%= ts("Label") %></th>
    <th><%= ts("Description") %></th>
    <th><%= ts("Version") %></th>
    <th><%= ts("Translations") %></th>
    <th><%= ts("Approved translations") %></th>
  </tr>

<% @phrases.each do |phrase| %>
  <tr>
    <td class="phrase">
      <%= link_to(phrase.label, otwtranslation_phrase_path(phrase)) %>
    </td>
    <td class="description"><%= phrase.description %></td>
    <td class="version"><%= phrase.version %></td>
    <td class="translations"><%= phrase.translations.count %></td>
    <td class="approved_translations"><%= phrase.approved_translations.count %></td>
  </tr>
<% end %>
</table>

