<h2><%= ts("Show Phrase") %></h2>

<%= render :partial => "phrase", :locals => { :phrase => @phrase } %>

<ul class="otwtranslation navigation">
  <li><%= link_to ts('Add translation'), otwtranslation_new_translation_path(@phrase) %></li>
</ul>


<h3>Translations for this phrase:</h3>


<% if @translations.empty? %>
  <p><%= ts("There are no translations for the selected language.") %></p>
<% elsif %>
  <%= render :partial => "otwtranslation/translations/translations_list", 
             :locals => { :translations => @translations } %>
<% end %>

<%= link_to ts('Back'), otwtranslation_phrases_path %>
