<h2><%= ts("Show Phrase") %></h2>

<%= render :partial => "otwtranslation/phrases/phrase", :locals => { :phrase => @phrase } %>

<ul class="otwtranslation navigation" id="add_translation">
  <li>
    <%= form_for(:translation, 
                 :url => otwtranslation_new_translation_path(@phrase), 
                 :html => { :method => :get },
                 :remote => true ) do |f| %>
      <%= f.submit 'Add translation' %>
    <% end %>
  </li>
</ul>

<h3 class="landmark">Translations for this phrase</h3>
<h3>Translations for this phrase:</h3>


<% if @translations.empty? %>
  <p><%= ts("There are no translations for the selected language.") %></p>
<% elsif %>
  <%= render :partial => "otwtranslation/translations/translations_list", 
             :locals => { :translations => @translations } %>
<% end %>

<%= link_to ts('Back'), otwtranslation_phrases_path %>
