<h2><%= ts("Show Phrase") %></h2>

<dl id="otwtranslation_phrase">

  <dt class="label"><%= ts("Label:") %></dt>
  <dd class="label"><%= @phrase.label %></dd>

  <dt class="description"><%= ts("Description:") %></dt>
  <dd class="description"><%= @phrase.description %>&nbsp;</dd>

  <dt class="language"><%= ts("Language:") %></dt>
  <dd class="language"><%= @phrase.language %></dd>

  <dt class="version"><%= ts("Version:") %></dt>
  <dd class="version"><%= @phrase.version %></dd>

  <dt class="sources"><%= ts("Sources:") %></dt>
  <dd class="sources">
    <ul>
      <% @phrase.sources.each do |source| %>
        <li><%= link_to(source.url, source.url) %> (<%= source.controller_action %>)</li>
      <% end %>	
    </ul>
  </dd>
</dl>

<h3>Translations for this phrase:</h3>

<% if @translations.empty? %>
  <p><%= ts("There are no translations for the selected language.") %></p>
<% elsif %>
  <ol id="otwtranslation_translations">
  <% @translations.each do |translation| %>
    <li id="translation<%= translation.id %>" 
      <%= render :partial => "otwtranslation/translations/translation", 
                 :locals => { :translation => translation } %>
    </li>
  <% end %>
  </ol>
<% end %>

<%= link_to ts('Back'), otwtranslation_phrases_path %>
