<h1><%= ts("Show Phrase") %></h1>

<p>
  <b><%= ts("Label:") %></b>
  <%= @phrase.label %>
</p>

<p>
  <b><%= ts("Description:") %></b>
  <%= @phrase.description %>
</p>

<p>
  <b><%= ts("Locale:") %></b>
  <%= @phrase.locale %>
</p>

<p>
  <b><%= ts("Version:") %></b>
  <%= @phrase.version %>
</p>

<p>
  <b><%= ts("Source:") %></b>
  <%= @phrase.source.controller_action %> 
  (<%= link_to(@phrase.source.url, @phrase.source.url) unless @phrase.source.url.blank?%>)</li>
</p>

<p style="color: red;">Here be place for all translations made for this phrase.</p>

<%= link_to ts('Back'), otwtranslation_phrases_path %>
