<h1><%= ts("Show Phrase") %></h1>

<p>
  <b><%= ts("Label:") %></b>
  <%= @phrase.label %>
</p>

<p>
  <b><%= ts("Description:") %></b>
  <%= @phrase.description %>
</p>

<p>
  <b><%= ts("Locale:") %></b>
  <%= @phrase.locale %>
</p>

<p>
  <b><%= ts("Version:") %></b>
  <%= @phrase.version %>
</p>

<p>
  <b><%= ts("Sources:") %></b>
  <ul>
    <% @phrase.sources.each do |source| %>
      <li><%= source.controller_action %> 
      (<%= link_to(source.url, source.url) unless source.url.blank?%>)</li>
    <% end %>
  </ul> 
</p>

<p style="color: red;">Here be place for all translations made for this phrase.</p>

<%= link_to ts('Back'), otwtranslation_phrases_path %>
