<h1><%= ts("Show Phrase") %></h1>

<dl id="otwtranslation_phrase">

  <dt class="label"><%= ts("Label:") %></dt>
  <dd class="label"><%= @phrase.label %></dd>

  <dt class="description"><%= ts("Description:") %></dt>
  <dd class="description"><%= @phrase.description %>&nbsp;</dd>

  <dt class="language"><%= ts("Language:") %></dt>
  <dd class="language"><%= @phrase.language %></dd>

  <dt class="version"><%= ts("Version:") %></dt>
  <dd class="version"><%= @phrase.version %></dd>

  <dt class="sources"><%= ts("Sources:") %></dt>
  <dd class="sources">
    <ul>
      <% @phrase.sources.each do |source| %>
        <li><%= link_to(source.url, source.url) %> (<%= source.controller_action %>)</li>
      <% end %>	
    </ul>
  </dd>
</dl>

<p style="color: red;">Here be place for all translations made for this phrase.</p>

<%= link_to ts('Back'), otwtranslation_phrases_path %>
