<!--Descriptive page name and system messages, descriptions, and instructions.-->
<h2><%= ts("Add Rule") %></h2>
<!--end descriptions-->

<!--Subnavigation, sorting and actions.-->
<!--end navigation-->

<!--main content-->
<%= form_for(@rule, :url => otwtranslation_post_rule_path) do |f| %>
  <dl>
    <dt><%= f.label(:type, ts("Type:"))%></dt>
    <dd><%= f.text_field :type %></dd>

  </dl>
  <p class="submit"><%= f.submit ts("Add rule") %></p>

<% end %>
    
