<li id="assignment_part_<%=part.id %>" class="assignment-part blurb group">
  <div class="header module">
    <h4 class="heading assignee"><%= part.position %>. <%= part.assignee.login %></h4>
    <ul class="required-tags">
      <li><span class="category-none category"></span></li>
      <li><span class="rating-notrated rating"></span></li>
      <li><span class="warning-no warnings"></span></li>

      <% if part.status == :pending || part.status == :active %>
        <li>
	  <span class="complete-no iswip" title="<%= part.status.to_s %>">
            <span class="text"><%= part.status.to_s %></span>
	  </span>
	</li>
      <% else %>
        <li>
	  <span class="complete-yes iswip" title="completed">
            <span class="text">completed</span>
	  </span>
	</li>
      <% end %>
    </ul>
  </div>

  <blockquote class="userstuff notes" title="notes">
    <%= raw sanitize_field(part, :notes) %>
  </blockquote>
  
  <% unless assignment.activated %>
    <h6 class="landmark heading">Assigner Actions</h3>
    <ul class="navigation actions" role="navigation">
      <li>
	<%= button_to("Move up", otwtranslation_move_up_assignment_part_path(part), 
                      :method => :get) %>
      </li>
      <li>
	<%= button_to("Move down", otwtranslation_move_down_assignment_part_path(part), 
                      :method => :get) %>
      </li>
      <li>
	<%= button_to("Delete", otwtranslation_confirm_destroy_assignment_part_path(part),
                      :remote => true, :method => :get) %>
      </li>
    </ul>
    <% end %>
</li>
