<p><%= ts("Welcome to the translation engine!") %></p>

<hr>
<p><%= ts("Create a user (password will be 'test123'):")%>
<%= form_tag("/home/new_user", :method => "post") do %>
  <%= label_tag(:name, ts('Name:')) %>
  <%= text_field_tag(:name) %>
  <%= submit_tag(ts('Create')) %>
<% end %>
</p>

<hr>
<p>
<%= ts("Translation admin rights for current user:")%>
<% if current_user && current_user.is_translation_admin? %>
  <%= form_tag("/home/set_translation_admin", :method => "get") do %>
    <%= submit_tag(ts('Remove')) %>
  <% end %>
  <% elsif  current_user && !current_user.is_translation_admin? %>
  <%= form_tag("/home/set_translation_admin", :method => "get") do %>
    <%= submit_tag(ts('Add')) %>
  <% end %>
<% else %>
  <%= ts('Login first.') %>
<% end %>
</p>
