<h2><%= ts("Sources List") %></h2>

<table id="otwtranslation_sources">
  <tr>
    <th><%= ts("Controller#Action") %></th>
    <th><%= ts("URL") %></th>
    <th><%= ts("Has phrases with current version?") %>
    <th><%= ts("Phrases") %>
    <th><%= ts("Translated") %>
    <th><%= ts("Approved") %>
  </tr>

<p style="color: red;">Maybe we can base assignments on this.</p>

<p><%= "(Statistics will update every #{OtwtranslationConfig.STATS_CACHE_EXPIRY} minutes.)" %></p>

<% @sources.each do |source| %>
<% cache("otwtranslation-source-index-#{otwtranslation_language}-#{source.id}",
      :expires_in => OtwtranslationConfig.STATS_CACHE_EXPIRY.to_i.minutes) do %>
  <tr>
    <td class="controller_action">
      <%= link_to(source.controller_action, otwtranslation_source_path(source)) %>
    </td>
    <td class="url">
      <%= link_to(truncate(source.url), source.url) %>
    </td>
    <td class="version">
      <%= source.has_phrases_with_current_verion? ? "&#x2713;".html_safe : "" %>
    </td>
    <td class="phrases">
      <%= source.phrases.size %>
    </td>
    <td class="translated">
      <%= number_to_percentage(
          source.percentage_translated_for(otwtranslation_language), :precision => 2) %>
    </td>
    <td class="approved">
      <%= number_to_percentage(
          source.percentage_approved_for(otwtranslation_language), :precision => 2) %>
    </td>
  </tr>
<% end %><!-- end of cache -->
<% end %>
</table>


