<h1><%= ts("Sources List") %></h1>

<table>
  <tr>
    <th><%= ts("Controller") %></th>
    <th><%= ts("URL") %></th>
  </tr>

<% @sources.each do |source| %>
  <tr>
    <td><%= link_to(source.controller_action, 
                    otwtranslation_source_path(source)) %></td>
    <td><%= link_to(truncate(source.url), source.url) unless source.url.blank? %></td>
  </tr>
<% end %>
</table>

