<!--Descriptive page name and system messages, descriptions, and instructions.-->
<h2><%= ts("Show Source") %></h2>
<!--end descriptions-->

<!--Subnavigation, sorting and actions.-->
<!--end navigation-->


<!--main content-->
<dl id="otwtranslation_source">

  <dt class="action"><%= ts("Controller#Action:") %></dt>
  <dd class="action"><%= @source.controller_action %></dd>

  <dt class="url"><%= ts("URL:") %></dt>
  <dd class="url"><%= link_to(@source.url, @source.url) %></dd>

  <dt class="version"><%= ts("Has phrases with current version?") %></dt>
  <dd class="version">
    <%= @source.has_phrases_with_current_verion? ? ts("yes") : ts("no") %>
  </dd>

  <dt class="translated">Translated:</dt>
  <dd class="translated">
    <%= number_to_percentage(
          @source.percentage_translated_for(otwtranslation_language), :precision => 2) %>
  </dd>

  <dt class="approved">Approved:</dt>
  <dd class="approved">
    <%= number_to_percentage(
          @source.percentage_approved_for(otwtranslation_language), :precision => 2) %>
  </dd>
</dl>

<h3><%= ts("Phrases for this source:") %></h3>

<%= render :partial => "otwtranslation/phrases/phrase_list",
           :locals => { :phrases => @source.phrases } %>

<!--/main-->

<!--secondary navigation-->
<p class="navigation"><%= link_to ts('Back'), otwtranslation_sources_path %></p>
<!--/nav-->
