<% if logged_in? %>
  <p id="greeting">
      <%= ts("Hi,") %> <%= link_to current_user.login, "", :class => 'login' %>!
    </p>
  <ul id="login">
    <li>
      <%= link_to ts("Post New"), "" %>&nbsp;|
    </li>
	<li>
	<%= link_to ts("Import"), "" %>	&nbsp;|
	</li>
    <li>
      <%= link_to ts("Log out"), logout_path %>
    </li>
  </ul>
<% end %>
