<!-- head navigation for translators -->

<h3 class="landmark"><acronym>OTW</acronym> Translation Navigation</h3>
<ul class="translation navigation" role="navigation">
  <li><%= span_if_current "translation home", otwtranslation_home_path %></li>
  <li><%= span_if_current "phrases", otwtranslation_phrases_path %></li>
  <li><%= span_if_current "sources", otwtranslation_sources_path %></li>
  <li><%= span_if_current "languages", otwtranslation_languages_path %></li>
  <li><%= span_if_current "assignments", otwtranslation_assignments_path %></li>
  <li><%= span_if_current "mails", otwtranslation_mails_path %></li>
</ul>
