<h3 class="landmark">Assignment Table</h3>

<%= will_paginate(assignments, :params => {:controller => otwtranslation_assignments_path}) %>

<table id="otwtranslation_assignments" summary="please summarise">
  <caption><!--please briefly label--></caption>
  <thead>
    <tr>
      <th><%= "Source" %></th>
      <th><%= "Description" %></th>
      <th><%= "Assigned to" %></th>
      <th><%= "Activated?" %></th>
      <th><%= "Completed?" %></th>
      <th><%= "Navigation" %></th>
    </tr>
  </thead>
  <tbody>
    <% assignments.each do |assignment| %>
      <tr class="assignment" id="otwtranslation_assignment_<%= assignment.id %>">
        <th class="source">
	  <% if assignment.source %>
            <%= link_to(assignment.source.controller_action, 
                        otwtranslation_source_path(assignment.source)) %>
	  <% end %>
        </th>
        <td class="description"><%= raw sanitize_field(assignment, :description) %></td>
        <td class="assignees"><%= assignment.assignees_names %></td>
        <td class="activated">
          <%= assignment.activated ? "&#x2713;".html_safe : "" %>
	</td>
        <td class="completed">
          <%= assignment.completed? ? "&#x2713;".html_safe : "" %>
	</td>
        <td class="navigation">
	  <%= render("otwtranslation/assignments/navigation", 
                     :assignment => assignment, :on_show => false) %>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate(assignments, :params => {:controller => otwtranslation_assignments_path}) %>

