<ul class="assignment navigation actions" id="assignment_navigation">
  <li>
    <% unless on_show %>
      <%= form_for(assignment, 
                   :url => otwtranslation_assignment_path(assignment),
                   :html => {:method => :get}) do |f| %>
        <%= f.submit 'Show' %>
      <% end %>
    <% end %>
  </li>

  <li>
    <%= form_for(assignment, 
                 :url => otwtranslation_confirm_destroy_assignment_path(assignment),
                 :html => {:method => :get},
	         :remote => !on_show) do |f| %>
      <%= f.submit 'Delete' %>
    <% end %>
  </li>

  <% unless assignment.activated %>
  <li>
    <%= form_for(:part, 
                 :url => otwtranslation_new_assignment_part_path(assignment), 
                 :html => { :method => :get },
                 :remote => true ) do |f| %>
      <%= f.submit 'Add assignee' %>
    <% end %>
  </li>

  <li>
    <%= form_for(:assignment, 
                 :url => otwtranslation_edit_assignment_path(assignment), 
                 :html => { :method => :get },
                 :remote => true ) do |f| %>
      <%= f.submit 'Edit' %>
    <% end %>
  </li>
  <li>
    <%= form_for(:assignment, 
                 :url => otwtranslation_activate_assignment_path(assignment), 
                 :html => { :method => :put },
                 :remote => true ) do |f| %>
      <%= f.submit 'Activate' %>
    <% end %>
  </li>
  <% end %>

</ul>
