<ul class="assignment navigation actions" id="assignment_navigation<%= on_show ? "_show" : "" %>_<%= assignment.id %>">
  <li>
    <% unless on_show %>
      <%= button_to("Show", otwtranslation_assignment_path(assignment),
                   :method => :get) %>
    <% end %>
  </li>

  <li>
    <%= button_to("Delete", otwtranslation_confirm_destroy_assignment_path(assignment),
                 :remote => !on_show, :method => :get) %>
  </li>

  <% if assignment.activated %>
    <% if assignment.users_turn?(current_user) %>
      <li>  
        <%= button_to("Mark my part as completed",
                     otwtranslation_complete_part_path(assignment),
                     :method => :get) %>
      </li>
    <% end %>
  <% else %>
  <li>
    <%= button_to("Add assignee", otwtranslation_new_assignment_part_path(assignment),
                 :remote => true, :method => :get) %>
  </li>

  <li>
    <%= button_to("Edit", otwtranslation_edit_assignment_path(assignment),
                 :remote => true, :method => :get) %>
  </li>
  <li>
    <%= button_to("Activate", otwtranslation_activate_assignment_path(assignment),
                 :remote => true, :method => :put) %>
  </li>
  <% end %>

</ul>
