// Replace navigation bar
$("#assignment_navigation_<%= @assignment.id %>").replaceWith(
  "<%= escape_javascript(render("navigation", 
                         :assignment => @assignment, :on_show => false)) %>");

// Replace activated status on #show
$("dl.assignment dd.activated").html(
  "<%= @assignment.activated ? "yes" : "no" %>");

// Replace first part's status on #show
$("li#assignment_part_<%= @assignment.parts.first.id %> .iswip").replaceWith(
  "<span class=\"complete-no iswip\" title=\"active\"><span class=\"text\">active</span></span>");

// Replace activated status on #index
$("li#assignment_<%= @assignment.id %> .warnings").replaceWith(
  "<span class=\"warning-no warnings\"></span>");
