<!--Descriptive page name and system messages, descriptions, and instructions.-->
<h2>Edit Assignment</h2>
<!--end descriptions-->

<!--Subnavigation, sorting and actions.-->
<!--end navigation-->
<!--main content-->
<%= form_tag(otwtranslation_update_assignment_path,
             :method => "put", :id => "otwtranslation_assignment") do %>
  <dl>
    <dt><%= label_tag(:source_controller_action, "Source:") %></dt>
    <dd><%= text_field_tag(:source_controller_action, @source_controller_action) %>
    </dd>

    <dt><%= label_tag(:description, "Description:") %></dt>
    <dd><%= text_area_tag(:description, @assignment.description,
                          :rows => 5) %>
    </dd>

  </dl>
  <p class="submit"><%= submit_tag "Update assignment" %></p>
<% end %>

