<div class="add assignment">
  <!--Descriptive page name and system messages, descriptions, and instructions.-->
  <h2 class="heading">Add Assignment</h2>
  <!--end descriptions-->
  
  <!--Subnavigation, sorting and actions.-->
  <!--end navigation-->
  <!--main content-->
  <%= form_tag(otwtranslation_post_assignment_path,
      :method => "post", :id => "otwtranslation_assignment") do %>
  <dl>
    <dt><%= label_tag(:source_controller_action, "Source:") %></dt>
    <dd><%= text_field_tag(:source_controller_action, @source_controller_action) %>
    </dd>
    
    <dt><%= label_tag(:description, "Description:") %></dt>
    <dd><%= text_area_tag(:description, @assignment.description,
            :rows => 5) %>
    </dd>
    
    <dt><%= label_tag(:assignees_names, "Assignees:") %></dt>
    <dd><%= text_field_tag(:assignees_names, @assignees_names, autocomplete_options("pseud")) %></dd>
  </dl>
  
  <p class="notice">TODO: Use autocomplete for user names</p>    
  <p class="submit"><%= submit_tag "Add assignment" %></p>
  <% end %>
</div>
