<!--Descriptive page name and system messages, descriptions, and instructions.-->
<h2>Show Assignment</h2>
<!--end descriptions-->

<!--Subnavigation, sorting and actions.-->
<!--end navigation-->


<!--main content-->
<dl id="otwtranslation_assignment">

  <dt class="source">Source:</dt>
  <dd class="source"><%= @assignment.source_controller_action %></dd>

  <dt class="description">Description:</dt>
  <dd class="description"><%= @assignment.description %></dd>

  <dt class="completed">Completed:</dt>
  <dd class="completed"><%= @assignment.completed? ? "yes" : "no" %></dd>
</dl>

<%= render :partial => "navigation", 
           :locals => { :assignment => @assignment, :show => false } %>

<div class="clear-both"></div>

<h3><%= ts("Assigned to:") %></h3>

<ol id="otwtranslation_assignment_parts">
<% @assignment.parts.each do |part| %>
  <li class="assignment_part <%= part.position%2 == 0 ? "even" : "odd" %>">
  <div class="assignment_part">
    <p class="assignee"><%= part.position %>. <%= part.assignee.login %></p>
    <p calss="notes"><%= part.notes %></p>
    <dl class="stats">
      <dt class="completed">Completed:</dt>
      <dd class="completed"><%= part.completed ? "yes" : "no" %></dt>
    </dl>

    <h3 class="landmark">Assignment Part Actions</h3>
    <ul class="assignment_part navigation">
      <li>
        <%= form_for(part, 
                     :url => "",
                     :html => {:method => :put} ) do |f| %>
          <%= f.submit 'Move up' %>
        <% end %>
        <%= form_for(part, 
                     :url => "",
                     :html => {:method => :put} ) do |f| %>
          <%= f.submit 'Move down' %>
        <% end %>
        <%= form_for(part, 
                     :url => otwtranslation_confirm_destroy_assignment_part_path(part),
                     :html => {:method => :get},
	             :remote => true ) do |f| %>
          <%= f.submit 'Delete' %>
        <% end %>
      </li>
    </ul>	
  </div>
  </li>
<% end %>
</ol>
<!--/main-->

<!--/nav-->
