<!-- BEGIN header -->

<div id="header" role="banner">
  <div id="login-block">
  <% if logged_in? %>
    <%= otwtranslation_tool_source %>
    <%= render :partial => 'user_sessions/greeting' %>
  <% else %>
    <ul id="greeting" class="logged-out">
      <li>
        <%= render :partial => 'user_sessions/login' %>
        <span><a id='signin_closed' onclick='toggleLogin("signin")' style='display:none;'><%= ts('Log in') %></a>
        <a id='signin_open' onclick='toggleLogin("signin")'><%= ts('Cancel') %></a></span>
      </li>
    </ul>
  <% end %>
  <%= render :partial => 'layouts/works_search_box' %>
</div>

<h3 class="landmark">Site Navigation</h3>
  <ul class="navigation" role="navigation">
    <li><%= logged_in? ? span_if_current('my home', '/home') : span_if_current('home', root_path) %></li>
    <li><%= span_if_current(ts('fandoms'), "") %></li>
    <li><%= span_if_current(ts('works'), "") %></li>
    <li><%= span_if_current(ts('people'), "") %></li>
    <li><%= span_if_current(ts('bookmarks'), "") %></li>
    <li><%= span_if_current(ts('tags'), "") %></li>
    <li><%= span_if_current(ts('collections'), "") %></li>
  </ul>

  <%= otwtranslation_tool_header %>

  <div class="clear"></div>
</div>

<!-- END header -->

