<!-- BEGIN BETA CAVEATS! -->
<noscript>
  <p id="javascript-warning">
    <%= ts("While we've done our best to make the core functionality of this site accessible without javascript, it will work better with it enabled. Please consider turning it on!") %>
  </p>
</noscript>
<!-- END BETA CAVEATS! --> 

<div id="header" class="region<% if @collection %> collection<% end %>">
  <!--NOTE: have removed role="banner" for now due to user feedback-->
  <div id="login">
    <% if logged_in? %>
      <%= render 'user_sessions/greeting' %>
    <% else %>
      <%= render 'user_sessions/login' %>
      <p class="actions" role="menu">
  			<a class='small_login_open hidden'><%= ts("Log in") %></a> 
  			<a class='small_login_close hidden'><%= ts("Cancel") %></a>
  		</p>
   	<% end %>
  </div>

  <h1 class="heading">
    <%= link_to(content_tag(:span, "#{ArchiveConfig.APP_NAME} (BETA)", :class => "landmark") +
    image_tag('/images/ao3_logos/logo-stroke.png', :alt => "#{ArchiveConfig.ALT_LOGO}"), root_path) %> 
  </h1>

  <h3 class="landmark heading">Site Navigation</h3>
  <ul class="primary navigation actions" role="navigation">
    <li><%= logged_in? ? span_if_current(ts('my home'), root_path) : span_if_current('home', root_path) %></li>
    <li><%= span_if_current(ts('fandoms'), "") %></li>
    <li><%= span_if_current(ts('works'), "") %></li>
    <li><%= span_if_current(ts('people'), "") %></li>
    <li><%= span_if_current(ts('bookmarks'), "") %></li>
    <li><%= span_if_current(ts('tags'), "") %></li>
    <li><%= span_if_current(ts('collections'), "") %></li>
    <li class="search"><%= render :partial => 'layouts/works_search_box' %></li>
  </ul>

  <%= otwtranslation_tool_header %>

  <div class="clear"></div>
</div>

<!-- END header -->

